extends ../layouts/master.pug

block title
  title My Page - Contact

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Desktop page
  section.page
    nav#nav.nav
      button.menu
        em.hamburger
      .brand
        a(href='#') Brand
      ul.navbar
        li
          a(href='#Home') Home
        li
          a(href='#About') About
        li
          a(href='#Services') Services
        li
          a(href='#Contact') Contact
    section.section
      h1.page__title--padding-top-100 # Contact page
    section.section
    .pattern-overlay

