@import './base/variables',
'./base/mixins';

// Vendors
@import './vendors/bootstrap/bootstrap';

@import './combine.scss';
@import './accordion.scss';
@import './combine-bs.scss';

$transparent: transparent;

// Bem example
.page {
  font-size: small;

  &__header {
    text-align: right;
    padding-right: 30px;
    padding-top: 16px;
    font-size: 13px;
    align-items: center;

    &--pg {
      padding: 0px 27px 0px 0px;
      color: $black;
    }

    &--icon {
      width: 22px;
    }
    &--account {
      background-color: #4285f4;
      color: $white;
    }
  }

  &__search {
    text-align: center;

    &--image {
      width: 330px;
      padding-top: 70px;
    }

    &--form {
      text-align: center;
    }

    &--bar {
      background-color: $transparent;
      height: 44px;
      width: 582px;
      border-radius: 24px;
      border: 1px solid #dfe1e5;
    }

    &--type {
      background-color: $transparent;
      height: 34px;
      width: 582px;
      border: none;
      color: $black;
      padding-left: 20px;
      margin-top: 4px;
      line-height: 34px;
    }
  }

  &__button {
    padding-top: 16px;

    &--search {
      color: #5F6368;
      padding-right: 16px;
      padding-left: 16px;
      margin-top: 11px;
      margin-right: 4px;
      margin-bottom: 13px;
      margin-left: 4px;
      border-radius: 4px;
      background-color: #f8f8f8;
      border: none;
      height: 36px;
    }
  }

  &__language {
    text-align: center;
    padding-bottom: 60px;

    &--l {
      padding-left: 12px;
      color: $blue;
    }
  }

  &__footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e4e4e4;
    height:40px;

    &--top {
      padding-left: 20px;
      color: #5F6368;
      height: 40px;

    }

    &--left {
      color: #5F6368;
      padding-left: 20px;
    }

    &--right {
      position: absolute;
      right: 0;
    }
    &--r {
      color: #5F6368;
      padding-right: 20px;
    }
  }


  &__title {
    text-align: center;

    &--color-blue {
      color: $blue;
    }

    &--bold {
      font-weight: bold;
    }
  }
}


